.main-nav {
  background-color: #fff;
  height: 7.7rem;
  width: 100%;
  box-shadow: 0 3px 5px 0 rgb(0 1 1 / 10%);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.checkhack {
  display: none;
}

.nav-options {
  border: none;
  outline: 0;
  outline: none;
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  height: 100%;
}
.logo-container {
  flex: 0 1 11.5%;
  height: 100%;
  align-content: stretch;
  padding: 0;
  margin: 0 0 0 7rem;
}
.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.cross-toggle {
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.cross-toggle,
.cross__icon-container {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.nav {
  font-size: 1.48rem;
  color: #000;
}
.nav-holder {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6rem;
}
.menu-container {
  flex: 0 0 8%;
  position: relative;
  display: none;
}
.searchIcon__holder {
  position: relative;
  border: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.search-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.search__icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  fill: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.cross__icon,
.menu__icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: none;
}

.cross__icon-container {
  right: 0;
  width: 5%;
  height: 5rem;
}
.nav .nav-list > li {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  border: none;
  font-weight: 600;
  border-radius: 0.3rem;
  margin-right: 1rem;
  transition: all 0.2s ease;
  position: relative;
  margin-bottom: -1rem;
}
li {
  list-style: none;
}

.nav .nav-list li:hover {
  background-color: #f3f3f3;
}

.active {
  background-color: #f3f3f3;
}

.nav .nav-list li ul {
  background-color: #fff;
  height: auto;
  width: 15rem;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
}

.nav .nav-list li:hover ul {
  display: block;
}

/* Footer starts here */
.section-footer {
  min-height: 25rem;
  width: 100%;
  background-color: #181818;
  padding: 6rem 7rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.4rem;
  color: hsla(0, 0%, 100%, 0.8);
}
.search-bar {
  position: absolute;
  top: 120%;
  right: 10rem;
  background-color: #fff;
  width: 30rem;
  height: 14rem;
  z-index: 300;
  border: 1px solid var(--color-text-light-2);
  border-radius: 0.3rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  box-shadow: 0 3px 5px 0 rgb(0 1 1 / 10%);
}
.nav .nav-list li:hover a {
  color: var(--color-primary-light);
}
.nav .nav-list li a {
  padding: 1rem 1.3rem;
  display: inline-block;
}

.footer-description,
.footer-newsletter,
.footer-social:not(:last-child),
.footer-support {
  margin-right: 5rem;
}

.footer-description,
.footer-newsletter,
.footer-support {
  flex: 0 0 25%;
}

.footer-newsletter__input {
  width: 100%;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.3rem;
  margin: 0.2rem 0;
  color: var(--color-text-dark-1);
}
.footer-newsletter__input[type='email'] {
  margin-bottom: 0.6rem !important;
}
.footer-support a:link,
.footer-support a:visited {
  color: hsla(0, 0%, 100%, 0.8);
  transition: all 0.5s ease;
}
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-text-light-2);
}
.btn-footer {
  background-color: #0c5b3f;
  border: none;
  width: 100%;
  margin-top: 0.6rem;
  font-size: 90%;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.section-footer .footer-support ul li:hover {
  transform: translateX(0.8rem);
}

.footer-support li {
  transition: all 0.5s ease;
}
li {
  list-style: none;
}
